---
---

// Headers
$header-bg-color: #04587B !default;
$header-bg-color-secondary: #155799 !default;

// Text
$section-headings-color: #04587B !default;


@import 'jekyll-theme-cayman';

.page-header {
  height: 450px;
  //color: black;
  background-position: center center;
  background-image: url('https://s3.amazonaws.com/lemonadestand1/image_ai_cc.png');
  .project-tagline
  {
    font-weight: 600;
    font-size: 22px;
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

}
.custom-github-button{
  //color:black;
  border:2px solid white;
}
